* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* consolidated font-family for header and footer */
header, footer { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    }

/* consolidated color for header, a, #content figure, and #benefits figure */

header, a, #content figure, #benefits figure {
    color: #ffffff;
}

/* changed .header to header and removed class attribute in HTML */
header {
    padding: 20px;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* consolidated font family for header nav, #content figure, and #benefits */
header nav, #content figure, #benefits {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* changed div to nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* removed list-style-type: none */

/* changed div to nav */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

/* changed .hero to #hero */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* changed .content to #content */
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* used #content figure to consolidate declaration blocks previously under .search-engine-optimization, .online-reputation-management, and .social-media-marketing */
#content figure  {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

/* used #content img to consolidate declaration blocks previously under .search-engine-optimization img, .online-reputation-management img, and .social-media-marketing img */
#content img {
    max-height: 200px;
}

/* used #content h2 to consolidate declaration blocks previously under .search-engine-optimization h2, .online-reputation-management h2, and .social-media-marketing h2 */
#content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changed .benefits to #benefits */
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* used #benefits figure to consolidate declaration blocks previously under .benefit-lead, .benefit-brand, and .benefit-cost */
#benefits figure {
    margin-bottom: 32px;
}

/* used #benefits h3 to consolidate declaration blocks previously under .benefit-lead h3, .benefit-brand h3, and .benefit-cost h3 */
#benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* used #benefits img to consolidate declaration blocks previously under .benefit-lead img, .benefit-brand img, and .benefit-cost img */
#benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* changed p to figcaption */
figcaption {
    font-size: 16px;
}

/* changed .footer to footer and removed class attribute in HTML */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

/* changed h2 to h4 */
footer h4 {
    font-size: 20px;
}
